body {
  background-color: #fff;
  color: #000;
  font-family: 'Duru Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 37px;
  margin: 0;
  padding: 0;
  /*smooth fonts*/
  -webkit-font-smoothing: antialiased; 
}

div {
  /*outline: 1px solid #f00;*/
}

h1 {
  font-family: 'Avenir Medium', Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase; 
}
h2 {
  /*background-color: #ccc;#d20303;*/
  color: #a69364;/*#a69364; #ec6d28;*/
  font-family: 'Avenir Medium', Arial, sans-serif;
  font-size: 17px;
  padding: 10px 0 0 0;
  text-transform: capitalize;
}

img {
  border: 0;
  outline: none; }

* {
  box-sizing: border-box;
  margin-top: 0; 
}

/*MAIN STYLES - MOBILE*/
.size-25 {
  display: block;
  float: left;
  width: 25%; 
}

.size-31 {
  display: block;
  float: left;
  width: 31%; 
}

.size-33 {
  display: block;
  float: left;
  height: 500px;
  width: 33.333333%; 
}

.size-100 {
  float: left;
  width: 100%; 
}

.size-50 {
  float: left;
  width: 50%; 
}


/* UTILITY STYLES */
.style-bold {
  font-weight: 900; 
}

.outline {
  outline: 1px solid; 
}

.outline-red {
  color: #ff0000; 
}

.type-18 {
  font-size: 18px; 
}

.type-demi-bold {
  font-weight: 400; 
}

.text-center {
  text-align: center;
}

.vert-align-middle {
  vertical-align: middle;
}

.cursor {
  cursor: pointer;
}

.italic-style{
  /*font-style: italic;*/
}

/*BACK TO TOP BUTTON */
.back-to-top-btn-container {
  bottom: 10px;
  display: none;
  float: left;
  height: auto;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 55;
}

.back-to-top-btn {
  background: url("../img/back_to_top_full.png") no-repeat;
  background-size: cover;
  bottom: 10px;
  display: inline-block;
  float: right;
  height: 40px;
  margin: 0 10px 0 0;
  opacity: .8;
  width: 40px;
}

.back-to-top-btn:hover {
  background-position: -40px 0;
}

.overlay {
  bottom: 0;
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: .5;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
}

.sound-cloud {
  display: inline-block;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}
.sound-cloud iframe  {
  height: 150px;
}

.about-us-padding{
  padding: 10px 0 0 0;
}
/* UTILITY STYLES END */


/*NAVIGATION*/
#nav-hidden {
  margin: -266px 0 0 0;
}

.navTop {
  background-color: #000;
  /*border-bottom: 1px solid #1a1a1a;*/
  color: #fff;
  display: inline-block;
  font-family: 'Avenir Medium', Arial, sans-serif;
  height: 45px;
  left: 0;
  line-height: 45px;
  margin: 0;
  opacity: .9;
  padding: 0;
  position: fixed;
  text-decoration: none;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navTop:hover {
  background-color: #d20303;/*#ff4719;*/
}

.nav a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.nav ul {
  display: inline;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nav li {
  background-color: #000;/*#efefef;*/
  /*border-bottom: 1px solid #333;#e5eaec;*/
  height: 45px;
  line-height: 45px;
  list-style: none;
  opacity: 0;
  text-decoration: none;
}

.nav li:hover {
  /*background-color: #ff4719;*/
  color: #d20303;/*#999;*/
}

.nav-pos {
  margin: 40px 0 0 0;
}
/*NAVIGATION END*/


/* LOGO */
.logo {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  height: 45px;
  margin: 45px 0 0 0;
  padding: 6px 0 0 0;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.logo-text {
  color: #000;
  font-family: 'Avenir Medium', Arial, sans-serif;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}
/* LOGO END */

/* SITE */
.outer-container {
  display: block;
  float: left;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%; 
}

.container {
  display: inline-block;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%; 
}

.enara-text {
  line-height: 20px;
  font-size: 16px;
  padding: 15px;
}

.hero-container{
  margin: 90px 0 0 0;
}

.hero-image {
  background: url("../img/Enara-hero.jpg") no-repeat;
  background-size: cover;
  display: inline-block;
  height: 100%;
  min-height: 100%;
  width: 100%; 
}

.vid-container, iframe {
  display: inline-block;
  min-height: 300px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  width: 100%;
}

.vid {
  display: inline-block;
  min-height: 323px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid #e5eaec;
}

.border-top {
  border-top: 1px solid #e5eaec;
}


/* TOUCH-touch-swipe */
.touch-swipe {
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.touch-swipe-wrap {
  height: auto;
  overflow: hidden;
  position: relative;
}
.touch-swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
.touch-swipe .nav {
  position: absolute;
  width: 80px;
  height: 38px;
  z-index: 10;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  color: #fff;
  top: 43%;
  cursor: pointer;
  background-color: rgba(0,0,0,0.8)
}
.touch-swipe-image{
  /*display: inline-block;
  min-height: 350px;
  width: 100%;*/ 
}
.touch-swipe .nav.next, .nav.nextVid {
  background: url('../img/arrow-Right-white.png');
  height: 71px;
  opacity: .3;
  right: 0;
  width: 46px;
}
.touch-swipe .nav.prev, .nav.prevVid {
  background: url('../img/arrow-Left-white.png');
  height: 71px;
  left: 0;
  opacity: .3;
  width: 46px;
}


/* FOOTER ICONS */
.facebook32{
  background: url('../img/facebook32.png');
  height: 32px;
  width: 32px;
}
.soundcloud32{
  background: url('../img/soundcloud32.png');
  height: 32px;
  width: 32px;
}
.twitter32{
  background: url('../img/twitter32.png');
  height: 32px;
  width: 32px;
}
.youtube32{
  background: url('../img/youtube32.png');
  height: 32px;
  width: 32px;
}


/* FOOTER */
.footer {
  /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQYV2O0O3X+PwMDA8MhM0NGEI0LMBKtEJsJD27YgW1R
    0DgEtwWrdUQrxGYLY8V5iDUdhghrKFOITfenmXFgW/jSF+H3DNEKsdkCAO99IAvSBrFVAAAAAElFTkSuQmCC);*/
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFklEQVQIW2NkQAOM+ARmMjAwpGOoAAAVUgEFCCGTpwAAAABJRU5ErkJggg==);
  background-color: #fff;
  border-top: 1px solid #e5eaec;
  display: inline-block;
  height: 200px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.footer-icon-container {
  background-color: #fff;
  display: inline-block;
  height: 32px;
  margin: 20px auto 0 auto;
  position: relative;
  width: 100%;
}

.footer-icon-container ul {
  margin: 0;
  padding: 0;
}

.footer-icon-container li {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  list-style: none;
  padding: 0 20px 0 0;
}

.footer-icon-container-inside {
  height: 32px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}


